@model IReadOnlyCollection<ApplicationServices.Services.Students.Responses.EnrollmentResponse>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Grade
            </th>
            <th>
                Course
            </th>
            <th>
                Student
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @{
                    var grade = string.IsNullOrWhiteSpace(item.Grade) 
                                    ? new StringHtmlContent("No Grade") 
                                    : Html.DisplayFor(modelItem => item.Grade);
                }
                @grade
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentFullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
